@model IEnumerable<Ticket.Models.Ticket>

<div class="row py-3">
    <div id="fechaHora" class="text-center pb-3" style="font-size: 18px;"></div>
    <div class="col-md-3">
        <div class="bg-warning p-2 rounded" style="--bs-bg-opacity: .5;">            
                <h4 class="mb-3 text-center">Tickets en Espera</h4>
                @Html.Partial("_TicketsEnEsperaPartialView", Model.Where(t => t.Nota == null))
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="card shadow" style="width: 80%; max-width: 400px; padding: 20px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="card-header bg-primary text-white">
                <h4 class="col text-center">Ticket en Curso</h4>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Ticket #@Model.First(t => t.Nota == null).Id en espera</h5>
                @Html.ActionLink("Aceptar", "AtenderTicket", "PanelDeControl", new { id = Model.First(t => t.Nota == null).Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-success p-2 rounded " style="--bs-bg-opacity: .5;">
            <h4 class="mb-3 text-center">Tickets Atendidos</h4>
            <div class="scrollable-content">
                @Html.Partial("_TicketsAtendidosPartialView", Model.Where(t => t.Nota != null))
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        //$(document).ready(function () {
        //    $.ajax({
        //        type: 'GET',
        //        url: '/PanelDeControl/TicketsEnEsperaPartialView',
        //        success: function (data) {
        //            $('#TicketsEnEsperaContainer').html(data);
        //        }
        //    });
        //    $.ajax({
        //        type: 'GET',
        //        url: '/PanelDeControl/TicketsAtendidosPartialView',
        //        success: function (data) {
        //            $('#TicketsAtendidosContainer').html(data);
        //        }
        //    });
        //});
        function mostrarFechaHora() {
            var divFechaHora = document.getElementById("fechaHora");
            var fechaHoraActual = new Date();
            var opcionesFechaHora = {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                timeZoneName: 'short',
                hour12: true
            };
            var fechaHoraFormateada = fechaHoraActual.toLocaleDateString('es-ES', opcionesFechaHora);

            fechaHoraFormateada = fechaHoraFormateada.replace(/GMT-6/g, '').trim();

            divFechaHora.textContent = "Fecha y hora actual: " + fechaHoraFormateada;
        }

        // Llama a la función inicialmente y luego cada segundo (1000 ms)
        mostrarFechaHora();
        setInterval(mostrarFechaHora, 5000);
    </script>
}