@model IEnumerable<Ticket.Models.Ticket>

@{
    ViewBag.Title = "Pantalla de Tickets de Espera";
}

<div class="jumbotron">
    <h1 class="display-4">Pantalla de Tickets de Espera</h1>
    <h3 class="lead">Bienvenido en breves momentos lo atenderemos</h3>
</div>

<div class="container1">
    @foreach (var ticket in Model)
    {
        <div class="ticket">
            <div class="ticket-number">Ticket #@ticket.Id</div>
            <div class="ticket-info">Cliente: @ticket.Cliente.Nombre @ticket.Cliente.Apellido</div>
            <div class="ticket-info">Servicio: @ticket.Proceso.Descripcion</div>
            <div class="ticket-action">
                <a href="https://api.whatsapp.com/send?phone=+502@ticket.Cliente.Telefono" class="btn btn-primary">Llamar al Cliente por WhatsApp</a>
            </div>
        </div>

    }
</div>

@section Styles{
    <style>
        body {
            background-color: #f2f2f2;
        }

        .jumbotron {
            background-color: #00aaff;
            color: #fff;
            padding: 30px;
            border-radius: 10px;
            margin: 30px auto;
            width: 90%;
            text-align: center;
        }

        .container1 {
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            width: 90%;
            margin: 30px auto;
        }

        .ticket {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .ticket-number {
            font-size: 1.5rem;
            color: #00aaff;
        }

        .ticket-info {
            font-size: 1.2rem;
        }

        .ticket-action {
            margin-top: 10px;
        }

        .btn-primary {
            background-color: #00aaff;
            color: #fff;
        }
    </style>
}
