<div class="mx-5 mt-5">
    <div class="mx-4">
        <h1 class="display-5">No se ha encontrado la página</h1>
        <h5>Lo sentimos, pero no se encuentra la página que buscas.</h5>
        <p>
            Revisa la ortografía y el uso de mayúsculas en la URL. Si estás teniendo problemas para encontrar una
            página en Fast Intenet.org, intenta ir a la @Html.ActionLink("página de inicio de Fast Internet", "Index", "Home").
        </p>
    </div>
</div>