@using Ticket.Models
@model List<ReporteCLS>

<div class="container mt-5">
    <div class="text-center" style="margin:30px;">
        <h2>Tickets del Mes</h2>
    </div>

    <form method="get">
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label for="fechaInicio">Fecha de inicio:</label>
                    <input type="date" id="fechaInicio" name="fechaInicio" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="fechaFin">Fecha de finalización:</label>
                    <input type="date" id="fechaFin" name="fechaFin" class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3" onclick="return validarFechas()">Filtrar</button>
        <button type="button" class="btn btn-primary mb-3" onclick="location.href='@Url.Action("DescargarPDF", "Reporte", new { listaReporte = Model })'">Descargar Reporte en PDF</button>

    </form>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre del Cliente</th>
                <th>Proceso</th>
                <th>Mes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Cliente</td>
                    <td>@item.Proceso</td>
                    <td>@item.Mes</td>
                </tr>
            }
        </tbody>
        
    </table>

   
</div>